<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap" rel="stylesheet">    
</head>
<body>
    <div class="email-banner">
        <div class="logo-wrapper">
            <div class="logo">
                <h1>The Stories</h1>
                <h2>That Make Us</h2>
            </div>
            <div class="banner-text">
                <h3>You're Invited</h3>
                <p>Join us in bridging the gap between Indigenous communities and new emerging decentralised, open-source technologies, specifically NFTs and the metaverse to preserve and promote Indigenous culture.</p>
            </div>
        </div>
    </div>
    <div class="august-events-section">
        <div class="august-events-logo-image">
            <img src="images/logo-imagetrace.svg" alt="The Stories That Make Us">
        </div>
        <div class="august-events-text-content">
            <h1 class="august-events-text-content-primary-heading">August Events</h1>
            <hr class="heading-underline" />
            <div class="august-events-list">
                <div class="august-event">
                    <div class="august-event-time-information">
                        <h2 class="august-event-date">
                            11/08
                        </h2>
                        <h3 class="august-event-day-of-the-week">
                            Thursday
                        </h3>
                        <h4 class="august-event-clock-time">
                            12 pm - 2pm
                        </h4>
                    </div>
                    <div class="august-event-title-and-description">
                        <h2 class="august-event-title">Event Title - Event Place</h2>
                        <p class="august-event-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
                    </div>
                </div>
                <div class="august-event">
                    <div class="august-event-time-information">
                        <h2 class="august-event-date">
                            11/08
                        </h2>
                        <h3 class="august-event-day-of-the-week">
                            Thursday
                        </h3>
                        <h4 class="august-event-clock-time">
                            12 pm - 2pm
                        </h4>
                    </div>
                    <div class="august-event-title-and-description">
                        <h2 class="august-event-title">Event Title - Event Place</h2>
                        <p class="august-event-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
                    </div>
                </div>
                <div class="august-event">
                    <div class="august-event-time-information">
                        <h2 class="august-event-date">
                            11/08
                        </h2>
                        <h3 class="august-event-day-of-the-week">
                            Thursday
                        </h3>
                        <h4 class="august-event-clock-time">
                            12 pm - 2pm
                        </h4>
                    </div>
                    <div class="august-event-title-and-description">
                        <h2 class="august-event-title">Event Title - Event Place</h2>
                        <p class="august-event-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
                    </div>
                </div>
                <div class="august-event">
                    <div class="august-event-time-information">
                        <h2 class="august-event-date">
                            11/08
                        </h2>
                        <h3 class="august-event-day-of-the-week">
                            Thursday
                        </h3>
                        <h4 class="august-event-clock-time">
                            12 pm - 2pm
                        </h4>
                    </div>
                    <div class="august-event-title-and-description">
                        <h2 class="august-event-title">Event Title - Event Place</h2>
                        <p class="august-event-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
                    </div>
                </div>
                <div class="august-event">
                    <div class="august-event-time-information">
                        <h2 class="august-event-date">
                            11/08
                        </h2>
                        <h3 class="august-event-day-of-the-week">
                            Thursday
                        </h3>
                        <h4 class="august-event-clock-time">
                            12 pm - 2pm
                        </h4>
                    </div>
                    <div class="august-event-title-and-description">
                        <h2 class="august-event-title">Event Title - Event Place</h2>
                        <p class="august-event-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="look-forward-to-seeing-you-there-message">
        <h2>WE LOOK FORWARD TO SEEING YOU THERE</h2>
    </div>
    <div class="logo-and-socials">
        <img src="/images/logo-imagetrace-2.svg" alt="The stories that make us">
        <h2>Follow Our Socials</h2>
        <div class="socials">
            <img src="/images/Groupe-27428.svg" alt="Email">
            <img src="/images/Groupe-15783.svg" alt="Discord">
            <img src="/images/Groupe-15783.svg" alt="Instagram">
            <img src="/images/Groupe-27428.svg" alt="Twitter">
        </div>
    </div>
    <div class="email-footer">
        <div class="footer-images">
            <!-- <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" /> -->
        <img src="/images/Groupe-15961.svg" alt="Risidio" />
        <img src="/images/Groupe-15961.svg" alt="Risidio" />
        <img src="/images/Groupe-15961.svg" alt="Risidio" />
        <img src="/images/Groupe-15961.svg" alt="Risidio" />
        <img src="/images/Groupe-15961.svg" alt="Risidio" />
        </div>
    </div>
</body>
</html>